div.block-dynosearcho {
	border: none;
}

div.dynosearcho_results {
  font-size: 1.2em;
}

div#dynosearcho_results li {
  text-indent: 0em;
}

div#dynosearcho_results ul {
  margin-left: 0;
  padding-left: 2px;
}

.dynosearcho_reltag {
  font-size: 0.8em;
}

.dynosearcho_editlink {
  font-size: 0.8em;
}

.dynosearcho_searchbox {
  width: 80%;
}

.dynosearcho_info {
	font-size: 0.8em;
  color: red;
}

.dynosearcho_teaser {
	font-size: 0.8em;
}

.dynosearcho_message {
  display: block;
  margin-top: 10px;
  font-size: 1em;
}